/** Main Communities **/

/* Community 1: Jean Valjean (lots of nodes) */
$lm_community-jean: rgb(219, 210, 32);
$lm_community-jean: #DBD220;
//<viz:color r="219" g="191" b="0"></viz:color>

/* Community 2: Myriel (lots of nodes) */
$lm_community-myriel: rgb(219, 20, 0);
$lm_community-myriel: #DB1400;
//<viz:color r="219" g="20" b="0"></viz:color>

/* Community 3: Gavroche (lots of nodes) */
$lm_community-gavroche: rgb(110, 158, 255);
$lm_community-gavroche: #6E9EFF;
//<viz:color r="107" g="140" b="255"></viz:color>

/* Community 4: Fantine (lots of nodes) */
$lm_community-fantine: rgb(59, 191, 81);
$lm_community-fantine: #3BBF51;
//<viz:color r="0" g="214" b="15"></viz:color>

/* Community 5: Marius (lots of nodes) */
$lm_community-marius: rgb(230, 117, 0);
$lm_community-marius: #E67500;
//<viz:color r="230" g="117" b="0"></viz:color>

/* Community 6: Thenardier (lots of nodes) */
$lm_community-thenardier: rgb(222, 82, 115);
$lm_community-thenardier: #DE5273;
//<viz:color r="222" g="82" b="115"></viz:color>

/* Community 7: Gilnormand (8 nodes) */
$lm_community-gilnormand: rgb(110, 87, 155);
$lm_community-gilnormand: #6E579B;
//<viz:color r="110" g="87" b="155"></viz:color>


/** Secondary Communities **/

/* Community 8: Bourgeois man (8 nodes) */
// should be different from Gavroche!
$lm_community-bourgeois: rgb(255, 99, 71);
$lm_community-bourgeois: #ff6347;
//<viz:color r="80" g="80" b="80"></viz:color>

// todo: finish color assignment
/* Community 9: Pontmercy (5 nodes) */
$lm_community-pontmercy: rgb(50, 102, 167);
$lm_community-pontmercy: #3266A7;
//<viz:color r="0" g="204" b="198"></viz:color>

/* Community 10: Fauchelevent (3 nodes) */
// should be different from Valjean!
$lm_community-fauchelevent: rgb(110, 87, 155);
//<viz:color r="110" g="87" b="155"></viz:color>

/* Community 11: Valjean's sister (3 nodes) */
// should be different from Valjean!
$lm_community-sister: rgb(110, 87, 155);
//<viz:color r="110" g="87" b="155"></viz:color>

/* Community 12: Minister of Agriculture (2 nodes) */
$lm_community-minister: rgb(0, 204, 198);
//<viz:color r="0" g="204" b="198"></viz:color>



// IWantHue Recommendation
$iwh:
#EDB09B
#8EDBDA
#D0DA7F
#DABEE5
#E5B56E
#D4D7C2
#AECDE7
#ADDF9C
#DBCE97
#E7ABBC
#9EDCB9
#D1C7CA

rgb(237,176,155)
rgb(142,219,218)
rgb(208,218,127)
rgb(218,190,229)
rgb(229,181,110)
rgb(212,215,194)
rgb(174,205,231)
rgb(173,223,156)
rgb(219,206,151)
rgb(231,171,188)
rgb(158,220,185)
rgb(209,199,202);

// ColorBrewer 2.0 Qualitative 12-class Set3 (2 sets)
$cb_set1:
  #8dd3c7
  #ffffb3
  #bebada
  #fb8072
  #80b1d3
  #fdb462
  #b3de69
  #fccde5
  #d9d9d9
  #bc80bd
  #ccebc5
  #ffed6f

  rgb(141,211,199)
  rgb(255,255,179)
  rgb(190,186,218)
  rgb(251,128,114)
  rgb(128,177,211)
  rgb(253,180,98)
  rgb(179,222,105)
  rgb(252,205,229)
  rgb(217,217,217)
  rgb(188,128,189)
  rgb(204,235,197)
  rgb(255,237,111);

$cb_set2: // Probably the best set for us
  #a6cee3
  #1f78b4
  #b2df8a
  #33a02c
  #fb9a99
  #e31a1c
  #fdbf6f
  #ff7f00
  #cab2d6
  #6a3d9a
  #ffff99
  #b15928

  rgb(166,206,227)
  rgb(31,120,180)
  rgb(178,223,138)
  rgb(51,160,44)
  rgb(251,154,153)
  rgb(227,26,28) // Myriel
  rgb(253,191,111) // JVJ
  rgb(255,127,0)
  rgb(202,178,214)
  rgb(106,61,154) // Gilnormand
  rgb(255,255,153)
  rgb(177,89,40); //